@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-container {
    @apply max-w-[730px] mx-auto p-0 mt-8 max-[780px]:px-4;
  }
  html,
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
